body {
    background-image: url('./imagens/kirokaze_01.gif');
    background-repeat: no-repeat;
    background-size: cover;
  }
  div {
    margin-top: 2%;
  margin-right: 25%;
  margin-bottom: 5%;
  margin-left: 25%;
  text-align: center;
    border: 2px solid rgb(255, 217, 0);
    color: brown;
  }
  button {
background-color: rgb(201, 245, 4);
    
    }
    .info {
      display: none;
      text-align: center;
      margin-top: 20px;
  }
   